<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Github Programming Demo</a>
    <ul class="nav">
      <li class="<%= "active" if controller_name == "home" && action_name == "index" %>">
        <%= link_to "Home", root_path %>
      </li>
      <% if user_signed_in? %>
        <li>
          <%= link_to "Search Repos", search_index_path %>
        </li>
        <li>
          <%= link_to "My Starred Repos", my_starred_repos_path %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path %>
        </li>
      <% else %>
        <li>
          <%= link_to "Login With Github", user_omniauth_authorize_path(:github) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>